# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
terraform-provider-*
!terraform-provider-*.zip

# Test output
*.test
*.out
coverage.html
coverage.txt

# Go build cache
vendor/

# GoReleaser output
dist/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Editor
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
